# ROS2 workspace - ignore build artifacts
build/
install/
log/
ros2_control_template/

# IDE
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# C++
*.o
*.so
*.a


.deb*
.deb
*.md
*.sh

